<table class="kirby-table">
    <thead>
      <tr>
        <th>
            <kirby-checkbox
                [checked]="vm.allChecked()"
                [indeterminate]="vm.indeterminate()"
                (click)="vm.toggleAll()"
            ></kirby-checkbox>
        </th>
        <th style="text-align:right;">Draft Invoice ID</th>
        <th style="text-align:right;">Booking Invoice ID</th>
        <th>Send by</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (invoice of vm.invoices(); track invoice.value().invoiceId) {
        <tr>
            <td><kirby-checkbox [(checked)]="invoice.selected"></kirby-checkbox></td>
            <td class="text-align-right">{{ invoice.value().draftInvoiceId }}</td>
            <td class="text-align-right">{{ invoice.value().draftInvoiceId }}</td>
            <td>{{ invoice.value().customerType === 'business' ? 'EAN' : 'Email' }}</td>
            <td><atlas-workflow-state-indicator [state]="invoice.state()"></atlas-workflow-state-indicator></td>
            <td><button type="button" kirby-button attentionLevel="3" (click)="vm.selectInvoice(invoice)"><kirby-icon name="see"></kirby-icon></button></td>
        </tr>
      }
    </tbody>
  </table>
