<kirby-page-title>Book Invoices</kirby-page-title>

@if (vm.invoices().length > 0) {
<table class="kirby-table">
    <thead>
        <tr>
            <th>
                <kirby-checkbox
                    size="sm"
                    [checked]="vm.allChecked()"
                    [indeterminate]="vm.indeterminate()"
                    (click)="vm.toggleAll()"
                ></kirby-checkbox>
            </th>
            <th style="text-align: right">Draft Invoice ID</th>
            <th style="text-align: right">Booking Invoice ID</th>
            <th>Send by</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (invoice of vm.invoices(); track invoice.value().invoiceId) {
        <tr>
            <td>
                <kirby-checkbox
                    size="sm"
                    [(checked)]="invoice.selected"
                    [disabled]="invoice.state() === 'completed'"
                ></kirby-checkbox>
            </td>
            <td class="text-align-right">
                {{ invoice.value().draftInvoiceId }}
            </td>
            <td class="text-align-right">{{ invoice.value().invoiceId }}</td>
            <td>
                <kirby-checkbox
                    size="sm"
                    [(checked)]="invoice.send"
                    [disabled]="invoice.state() === 'completed'"
                    >{{ invoice.value().customerType === 'business' ? 'EAN' :
                    'Email' }}</kirby-checkbox
                >
            </td>
            <td>
                <atlas-workflow-state-indicator
                    [state]="invoice.state()"
                ></atlas-workflow-state-indicator>
            </td>
            <td>
                <button
                    type="button"
                    kirby-button
                    attentionLevel="3"
                    (click)="vm.viewInvoice(invoice)"
                >
                    <kirby-icon name="see"></kirby-icon>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
} @else if (vm.state() === 'idle') {
<kirby-empty-state
    iconName="help"
    title="Idle"
    subtitle="The workflow hasn't reached this step yet"
></kirby-empty-state>
} @else {
<kirby-empty-state
    iconName="verify"
    themeColor="success"
    title="Success"
    subtitle="No invoices to book"
></kirby-empty-state>
}

<kirby-modal-footer>
    <button
        type="button"
        kirby-button
        [disabled]="vm.noneChecked()"
        (click)="vm.book()"
    >
        Book
    </button>
</kirby-modal-footer>
