<kirby-list [items]="vm.customers()" [getSectionName]="vm.getSectionName" (itemSelect)="vm.selectCustomer($event)">
    <kirby-list-section-header
        *kirbyListSectionHeader="let section"
        [title]="section">
    </kirby-list-section-header>
    <kirby-item *kirbyListItemTemplate="let customer" [selectable]="true" disclosure="arrow-more">
        <p class="kirby-item-title">{{ customer.value().name }}</p>
        <atlas-workflow-state-indicator slot="end" [state]="customer.state()"></atlas-workflow-state-indicator>
    </kirby-item>
</kirby-list>
