@let customers = vm.customers();

@if (customers.length > 0) {
    <kirby-list [items]="customers" (itemSelect)="vm.selectCustomer($event)">
        <kirby-item *kirbyListItemTemplate="let customer" [selectable]="customer.status !== 'creating'" disclosure="arrow-more">
            <p class="kirby-item-title">{{ customer.model.name }}</p>
            <atlas-status-indicator [status]="customer.status" slot="end"></atlas-status-indicator>
        </kirby-item>
    </kirby-list>
} @else {
    <p>No customers found</p>
}