<kirby-list [items]="vm.invoices()">
    <kirby-item *kirbyListItemTemplate="let invoice" disclosure="arrow-more">
        @let invoiceValue = invoice.value();
        <kirby-checkbox slot="start" [(checked)]="invoice.selected" [disabled]="invoice.state() === 'completed'"></kirby-checkbox>
        <kirby-label>
            <p class="kirby-item-title">{{ invoiceValue.draftInvoiceId }} (Booking ID: {{ invoiceValue.invoiceId }})</p>
            <p class="kriby-item-subtitle">Send by: {{ invoiceValue.customerType === 'business' ? 'EAN' : 'Email' }}</p>
        </kirby-label>
        <atlas-workflow-state-indicator slot="end" [state]="invoice.state()"></atlas-workflow-state-indicator>
    </kirby-item>
</kirby-list>
