<kirby-list [items]="vm.invoices()" (itemSelect)="vm.selectInvoice($event)">
    <kirby-item *kirbyListItemTemplate="let invoice" [selectable]="true" disclosure="arrow-more">
        @let invoiceValue = invoice.value();
        <kirby-label>
            <p class="kirby-item-title">{{ invoiceValue.invoiceId }}</p>
            <p class="kriby-item-subtitle">Draft ID: {{ invoiceValue.draftInvoiceId }}</p>
        </kirby-label>
        <atlas-workflow-state-indicator slot="end" [state]="invoice.state()"></atlas-workflow-state-indicator>
    </kirby-item>
</kirby-list>
