@let invoices = vm.invoices();

@if (invoices.length > 0) {
    <kirby-section-header>
        <p label>Invoices</p>
    </kirby-section-header>
    <kirby-list [items]="invoices" (itemSelect)="vm.selectInvoice($event)">
        <kirby-item *kirbyListItemTemplate="let invoice" disclosure="arrow-more" [selectable]="true">
            <kirby-label>
                <p class="kirby-item-title">{{ invoice.model.recipient }}</p>
                <p class="kirby-item-detail">ID: {{ invoice.model.id }}</p>
            </kirby-label>
            @switch (invoice.state.status) {
                @case ('creating') {
                    <kirby-spinner slot="end"></kirby-spinner>
                }
                @case ('created') {
                    <kirby-badge slot="end" themeColor="success">
                        <kirby-icon name="checkmark-selected"></kirby-icon>
                    </kirby-badge>
                }
                @case ('error') {
                    <kirby-badge slot="end" themeColor="danger">
                        <kirby-icon name="warning"></kirby-icon>
                    </kirby-badge>
                }
            }
        </kirby-item>
    </kirby-list>
}