<kirby-list [items]="products()" (itemSelect)="selected.emit($event)">
    <kirby-item *kirbyListItemTemplate="let product" [selectable]="true" disclosure="arrow-more">
        @let productValue = product.value();
        <kirby-label>
            <p class="kirby-item-title">{{ productValue.name }}</p>
            <p class="kirby-item-subtitle">{{ productValue.id }}</p>
        </kirby-label>
        <atlas-workflow-state-indicator slot="end" [state]="product.state()"></atlas-workflow-state-indicator>
    </kirby-item>
</kirby-list>
