@let products = vm.products();

@if (products.length > 0) {
    <kirby-list [items]="products" (itemSelect)="vm.selectProduct($event)">
        <kirby-item *kirbyListItemTemplate="let product" [selectable]="product.status !== 'creating'" disclosure="arrow-more">
            <kirby-label>
                <p class="kirby-item-title">{{ product.model.name }}</p>
                <p class="kirby-item-subtitle">{{ product.model.id }}</p>
            </kirby-label>
            <atlas-status-indicator [status]="product.status" slot="end"></atlas-status-indicator>
        </kirby-item>
    </kirby-list>
} @else {
    <p>No products found</p>
}