@let creditNotes = vm.creditNotes();

@if (creditNotes.length > 0) {
    <kirby-section-header>
        <p label>Credit Notes</p>
    </kirby-section-header>
    <kirby-list [items]="creditNotes" (itemSelect)="vm.selectCreditNote($event)">
        <kirby-item *kirbyListItemTemplate="let creditNote" disclosure="arrow-more" [selectable]="true">
            <kirby-label>
                <p class="kirby-item-title">{{ creditNote.model.customer.name }}</p>
                <p class="kirby-item-detail">ID: {{ creditNote.model.id }}</p>
            </kirby-label>
            <atlas-status-indicator [status]="creditNote.status" slot="end"></atlas-status-indicator>
        </kirby-item>
    </kirby-list>
}