<kirby-page>
    <kirby-header title="Atlas Economic Tool" subtitle1="Invoice Management">
        <kirby-action-group *kirbyHeaderActions>
            <button kirby-button (click)="vm.loadInvoices()">
                <kirby-icon name="upload"></kirby-icon>
                <span class="text">Load Invoices</span>
            </button>
            <button kirby-button attentionLevel="3" (click)="vm.openSettings()">
                <kirby-icon name="cog"></kirby-icon>
                <span class="text">Settings</span>
            </button>
        </kirby-action-group>
    </kirby-header>
    <kirby-page-content>
        <kirby-loading-overlay [isLoading]="vm.isLoading()">
            @if (vm.hasInvoices()) {
                <atlas-invoice-overview></atlas-invoice-overview>
            } @else if (vm.error(); as error) {
                <kirby-empty-state
                    iconName="warning"
                    themeColor="danger"
                    title="Loading Invoices Failed"
                    [subtitle]="error"
                >
                    <button kirby-button (click)="vm.loadInvoices()">
                        <kirby-icon name="upload"></kirby-icon>
                        <span class="text">Retry</span>
                    </button>
                </kirby-empty-state>
            } @else {
                <kirby-empty-state
                    iconName="help"
                    title="No Invoices Loaded"
                    subtitle="Load some invoices to get started."
                >
                    <button kirby-button (click)="vm.loadInvoices()">
                        <kirby-icon name="upload"></kirby-icon>
                        <span class="text">Load Invoices</span>
                    </button>
                </kirby-empty-state>
            }
        </kirby-loading-overlay>
    </kirby-page-content>
</kirby-page>