<div class="controls">
    <kirby-segmented-control
        [items]="vm.segments()"
        [(selectedIndex)]="vm.selectedSegmentIndex"
    ></kirby-segmented-control>

    <button kirby-button attentionLevel="1" type="submit" (click)="vm.createInvoices()" [disabled]="vm.creating()">
        <kirby-icon name="foreign-payment"></kirby-icon>
        Send
    </button>
</div>

<br/>

@switch (vm.selectedSegmentIndex()) {
    @case (0) {
        <atlas-document-list></atlas-document-list>
    }
    @case (1) {
        <atlas-customer-list></atlas-customer-list>
    }
    @case (2) {
        <atlas-product-list></atlas-product-list>
    }
}
